section#controls
  #stats
    p duration: 
      span#duration 0
    p totalDuration:
      span#totalDuration 0
    p time:
      span#time 1
    p totalTime:
      span#totalTime 1
    p progress:
      span#progress 1
    p totalProgress:
      span#totalProgress 1