svg#verdict-module(data-view xmlns='http://www.w3.org/2000/svg' viewbox='880 650 800 1000', xmlns:xlink='http://www.w3.org/1999/xlink')
  defs
    path#path-1(d='M0 0l165 78 310 25h366l302-25 159-78v288H0z')
    path#path-3(d='M-61.997 158.503h450v10h-450z')
    mask#mask-4(width='450', height='10', x='0', y='0', fill='white')
      use(xlink:href='#path-3')
    path#path-5(d='M-31.997 158.503h450v10h-450z')
    mask#mask-6(width='450', height='10', x='0', y='0', fill='white')
      use(xlink:href='#path-5')
    path#path-7(d='M-1.997 158.503h450v10h-450z')
    mask#mask-8(width='450', height='10', x='0', y='0', fill='white')
      use(xlink:href='#path-7')
    path#path-9(d='M28.003 158.503h450v10h-450z')
    mask#mask-10(width='450', height='10', x='0', y='0', fill='white')
      use(xlink:href='#path-9')
    path#path-11(d='M58.003 158.503h450v10h-450z')
    mask#mask-12(width='450', height='10', x='0', y='0', fill='white')
      use(xlink:href='#path-11')
    path#path-13(d='M88.003 158.503h450v10h-450z')
    mask#mask-14(width='450', height='10', x='0', y='0', fill='white')
      use(xlink:href='#path-13')
    path#path-15(d='M118.003 158.503h450v10h-450z')
    mask#mask-16(width='450', height='10', x='0', y='0', fill='white')
      use(xlink:href='#path-15')
    path#path-17(d='M148.003 158.503h450v10h-450z')
    mask#mask-18(width='450', height='10', x='0', y='0', fill='white')
      use(xlink:href='#path-17')
    path#path-19(d='M178.003 158.503h450v10h-450z')
    mask#mask-20(width='450', height='10', x='0', y='0', fill='white')
      use(xlink:href='#path-19')
    path#path-21(d='M208.003 158.503h450v10h-450z')
    mask#mask-22(width='450', height='10', x='0', y='0', fill='white')
      use(xlink:href='#path-21')
    path#path-23(d='M238.003 158.503h450v10h-450z')
    mask#mask-24(width='450', height='10', x='0', y='0', fill='white')
      use(xlink:href='#path-23')
    path#path-25(d='M268.003 158.503h450v10h-450z')
    mask#mask-26(width='450', height='10', x='0', y='0', fill='white')
      use(xlink:href='#path-25')
    path#path-27(d='M298.003 158.503h450v10h-450z')
    mask#mask-28(width='450', height='10', x='0', y='0', fill='white')
      use(xlink:href='#path-27')
    path#path-29(d='M328.003 158.503h450v10h-450z')
    mask#mask-30(width='450', height='10', x='0', y='0', fill='white')
      use(xlink:href='#path-29')
    path#path-31(d='M358.003 158.503h450v10h-450z')
    mask#mask-32(width='450', height='10', x='0', y='0', fill='white')
      use(xlink:href='#path-31')
    path#path-33(d='M388.003 158.503h450v10h-450z')
    mask#mask-34(width='450', height='10', x='0', y='0', fill='white')
      use(xlink:href='#path-33')
    path#path-35(d='M418.003 158.503h450v10h-450z')
    mask#mask-36(width='450', height='10', x='0', y='0', fill='white')
      use(xlink:href='#path-35')
    path#path-37(d='M448.003 158.503h450v10h-450z')
    mask#mask-38(width='450', height='10', x='0', y='0', fill='white')
      use(xlink:href='#path-37')
    path#path-39(d='M478.003 158.503h450v10h-450z')
    mask#mask-40(width='450', height='10', x='0', y='0', fill='white')
      use(xlink:href='#path-39')
    path#path-41(d='M508.003 158.503h450v10h-450z')
    mask#mask-42(width='450', height='10', x='0', y='0', fill='white')
      use(xlink:href='#path-41')
    path#path-43(d='M538.003 158.503h450v10h-450z')
    mask#mask-44(width='450', height='10', x='0', y='0', fill='white')
      use(xlink:href='#path-43')
    path#path-45(d='M568.003 158.503h450v10h-450z')
    mask#mask-46(width='450', height='10', x='0', y='0', fill='white')
      use(xlink:href='#path-45')
    path#path-47(d='M598.003 158.503h450v10h-450z')
    mask#mask-48(width='450', height='10', x='0', y='0', fill='white')
      use(xlink:href='#path-47')
    path#path-49(d='M628.003 158.503h450v10h-450z')
    mask#mask-50(width='450', height='10', x='0', y='0', fill='white')
      use(xlink:href='#path-49')
    path#path-51(d='M658.003 158.503h450v10h-450z')
    mask#mask-52(width='450', height='10', x='0', y='0', fill='white')
      use(xlink:href='#path-51')
    path#path-53(d='M685.003 158.503h450v10h-450z')
    mask#mask-54(width='450', height='10', x='0', y='0', fill='white')
      use(xlink:href='#path-53')
    path#path-55(d='M715.003 158.503h450v10h-450z')
    mask#mask-56(width='450', height='10', x='0', y='0', fill='white')
      use(xlink:href='#path-55')
    path#path-57(d='M745.003 158.503h450v10h-450z')
    mask#mask-58(width='450', height='10', x='0', y='0', fill='white')
      use(xlink:href='#path-57')
    path#path-59(d='M775.003 158.503h450v10h-450z')
    mask#mask-60(width='450', height='10', x='0', y='0', fill='white')
      use(xlink:href='#path-59')
    path#path-61(d='M805.003 158.503h450v10h-450z')
    mask#mask-62(width='450', height='10', x='0', y='0', fill='white')
      use(xlink:href='#path-61')
    path#path-63(d='M835.003 158.503h450v10h-450z')
    mask#mask-64(width='450', height='10', x='0', y='0', fill='white')
      use(xlink:href='#path-63')
    path#path-65(d='M865.003 158.503h450v10h-450z')
    mask#mask-66(width='450', height='10', x='0', y='0', fill='white')
      use(xlink:href='#path-65')
    path#path-67(d='M895.003 158.503h450v10h-450z')
    mask#mask-68(width='450', height='10', x='0', y='0', fill='white')
      use(xlink:href='#path-67')
    path#path-69(d='M925.003 158.503h450v10h-450z')
    mask#mask-70(width='450', height='10', x='0', y='0', fill='white')
      use(xlink:href='#path-69')
    path#path-71(d='M955.003 158.503h450v10h-450z')
    mask#mask-72(width='450', height='10', x='0', y='0', fill='white')
      use(xlink:href='#path-71')
    path#path-73(d='M985.003 158.503h450v10h-450z')
    mask#mask-74(width='450', height='10', x='0', y='0', fill='white')
      use(xlink:href='#path-73')
    path#path-75(d='M1015.003 158.503h450v10h-450z')
    mask#mask-76(width='450', height='10', x='0', y='0', fill='white')
      use(xlink:href='#path-75')
    path#path-77(d='M1045.003 158.503h450v10h-450z')
    mask#mask-78(width='450', height='10', x='0', y='0', fill='white')
      use(xlink:href='#path-77')
    path#path-79(d='M1075.003 158.503h450v10h-450z')
    mask#mask-80(width='450', height='10', x='0', y='0', fill='white')
      use(xlink:href='#path-79')
    path#path-81(d='M1105.003 158.503h450v10h-450z')
    mask#mask-82(width='450', height='10', x='0', y='0', fill='white')
      use(xlink:href='#path-81')
    path#path-83(d='M1135.003 158.503h450v10h-450z')
    mask#mask-84(width='450', height='10', x='0', y='0', fill='white')
      use(xlink:href='#path-83')
    path#path-85(d='M1165.003 158.503h450v10h-450z')
    mask#mask-86(width='450', height='10', x='0', y='0', fill='white')
      use(xlink:href='#path-85')
    path#path-87(d='M1195.003 158.503h450v10h-450z')
    mask#mask-88(width='450', height='10', x='0', y='0', fill='white')
      use(xlink:href='#path-87')
    path#path-89(d='M1225.003 158.503h450v10h-450z')
    mask#mask-90(width='450', height='10', x='0', y='0', fill='white')
      use(xlink:href='#path-89')
    path#path-91(d='M1255.003 158.503h450v10h-450z')
    mask#mask-92(width='450', height='10', x='0', y='0', fill='white')
      use(xlink:href='#path-91')
    path#path-93(d='M1285.003 158.503h450v10h-450z')
    mask#mask-94(width='450', height='10', x='0', y='0', fill='white')
      use(xlink:href='#path-93')
    path#path-95(d='M1315.003 158.503h450v10h-450z')
    mask#mask-96(width='450', height='10', x='0', y='0', fill='white')
      use(xlink:href='#path-95')
    path#path-97(d='M1345.003 158.503h450v10h-450z')
    mask#mask-98(width='450', height='10', x='0', y='0', fill='white')
      use(xlink:href='#path-97')
    path#path-99(d='M1375.003 158.503h450v10h-450z')
    mask#mask-100(width='450', height='10', x='0', y='0', fill='white')
      use(xlink:href='#path-99')
    path#path-101(d='M1405.003 158.503h450v10h-450z')
    mask#mask-102(width='450', height='10', x='0', y='0', fill='white')
      use(xlink:href='#path-101')
    path#path-103(d='M1435.003 158.503h450v10h-450z')
    mask#mask-104(width='450', height='10', x='0', y='0', fill='white')
      use(xlink:href='#path-103')
    path#path-105(d='M1465.003 158.503h450v10h-450z')
    mask#mask-106(width='450', height='10', x='0', y='0', fill='white')
      use(xlink:href='#path-105')
    path#path-107(d='M1495.003 158.503h450v10h-450z')
    mask#mask-108(width='450', height='10', x='0', y='0', fill='white')
      use(xlink:href='#path-107')
    path#path-109(d='M1494.997 158.503h450v10h-450z')
    mask#mask-110(width='450', height='10', x='0', y='0', fill='white')
      use(xlink:href='#path-109')
    path#path-111(d='M1464.997 158.503h450v10h-450z')
    mask#mask-112(width='450', height='10', x='0', y='0', fill='white')
      use(xlink:href='#path-111')
    path#path-113(d='M1434.997 158.503h450v10h-450z')
    mask#mask-114(width='450', height='10', x='0', y='0', fill='white')
      use(xlink:href='#path-113')
    path#path-115(d='M1404.997 158.503h450v10h-450z')
    mask#mask-116(width='450', height='10', x='0', y='0', fill='white')
      use(xlink:href='#path-115')
    path#path-117(d='M1374.997 158.503h450v10h-450z')
    mask#mask-118(width='450', height='10', x='0', y='0', fill='white')
      use(xlink:href='#path-117')
    path#path-119(d='M1344.997 158.503h450v10h-450z')
    mask#mask-120(width='450', height='10', x='0', y='0', fill='white')
      use(xlink:href='#path-119')
    path#path-121(d='M1314.997 158.503h450v10h-450z')
    mask#mask-122(width='450', height='10', x='0', y='0', fill='white')
      use(xlink:href='#path-121')
    path#path-123(d='M1284.997 158.503h450v10h-450z')
    mask#mask-124(width='450', height='10', x='0', y='0', fill='white')
      use(xlink:href='#path-123')
    path#path-125(d='M1254.997 158.503h450v10h-450z')
    mask#mask-126(width='450', height='10', x='0', y='0', fill='white')
      use(xlink:href='#path-125')
    path#path-127(d='M1224.997 158.503h450v10h-450z')
    mask#mask-128(width='450', height='10', x='0', y='0', fill='white')
      use(xlink:href='#path-127')
    path#path-129(d='M1194.997 158.503h450v10h-450z')
    mask#mask-130(width='450', height='10', x='0', y='0', fill='white')
      use(xlink:href='#path-129')
    path#path-131(d='M1164.997 158.503h450v10h-450z')
    mask#mask-132(width='450', height='10', x='0', y='0', fill='white')
      use(xlink:href='#path-131')
    path#path-133(d='M1134.997 158.503h450v10h-450z')
    mask#mask-134(width='450', height='10', x='0', y='0', fill='white')
      use(xlink:href='#path-133')
    path#path-135(d='M1104.997 158.503h450v10h-450z')
    mask#mask-136(width='450', height='10', x='0', y='0', fill='white')
      use(xlink:href='#path-135')
    path#path-137(d='M1074.997 158.503h450v10h-450z')
    mask#mask-138(width='450', height='10', x='0', y='0', fill='white')
      use(xlink:href='#path-137')
    path#path-139(d='M1044.997 158.503h450v10h-450z')
    mask#mask-140(width='450', height='10', x='0', y='0', fill='white')
      use(xlink:href='#path-139')
    path#path-141(d='M1014.997 158.503h450v10h-450z')
    mask#mask-142(width='450', height='10', x='0', y='0', fill='white')
      use(xlink:href='#path-141')
    path#path-143(d='M984.997 158.503h450v10h-450z')
    mask#mask-144(width='450', height='10', x='0', y='0', fill='white')
      use(xlink:href='#path-143')
    path#path-145(d='M954.997 158.503h450v10h-450z')
    mask#mask-146(width='450', height='10', x='0', y='0', fill='white')
      use(xlink:href='#path-145')
    path#path-147(d='M924.997 158.503h450v10h-450z')
    mask#mask-148(width='450', height='10', x='0', y='0', fill='white')
      use(xlink:href='#path-147')
    path#path-149(d='M894.997 158.503h450v10h-450z')
    mask#mask-150(width='450', height='10', x='0', y='0', fill='white')
      use(xlink:href='#path-149')
    path#path-151(d='M864.997 158.503h450v10h-450z')
    mask#mask-152(width='450', height='10', x='0', y='0', fill='white')
      use(xlink:href='#path-151')
    path#path-153(d='M834.997 158.503h450v10h-450z')
    mask#mask-154(width='450', height='10', x='0', y='0', fill='white')
      use(xlink:href='#path-153')
    path#path-155(d='M804.997 158.503h450v10h-450z')
    mask#mask-156(width='450', height='10', x='0', y='0', fill='white')
      use(xlink:href='#path-155')
    path#path-157(d='M774.997 158.503h450v10h-450z')
    mask#mask-158(width='450', height='10', x='0', y='0', fill='white')
      use(xlink:href='#path-157')
    path#path-159(d='M747.997 158.503h450v10h-450z')
    mask#mask-160(width='450', height='10', x='0', y='0', fill='white')
      use(xlink:href='#path-159')
    path#path-161(d='M717.997 158.503h450v10h-450z')
    mask#mask-162(width='450', height='10', x='0', y='0', fill='white')
      use(xlink:href='#path-161')
    path#path-163(d='M687.997 158.503h450v10h-450z')
    mask#mask-164(width='450', height='10', x='0', y='0', fill='white')
      use(xlink:href='#path-163')
    path#path-165(d='M657.997 158.503h450v10h-450z')
    mask#mask-166(width='450', height='10', x='0', y='0', fill='white')
      use(xlink:href='#path-165')
    path#path-167(d='M627.997 158.503h450v10h-450z')
    mask#mask-168(width='450', height='10', x='0', y='0', fill='white')
      use(xlink:href='#path-167')
    path#path-169(d='M597.997 158.503h450v10h-450z')
    mask#mask-170(width='450', height='10', x='0', y='0', fill='white')
      use(xlink:href='#path-169')
    path#path-171(d='M567.997 158.503h450v10h-450z')
    mask#mask-172(width='450', height='10', x='0', y='0', fill='white')
      use(xlink:href='#path-171')
    path#path-173(d='M537.997 158.503h450v10h-450z')
    mask#mask-174(width='450', height='10', x='0', y='0', fill='white')
      use(xlink:href='#path-173')
    path#path-175(d='M507.997 158.503h450v10h-450z')
    mask#mask-176(width='450', height='10', x='0', y='0', fill='white')
      use(xlink:href='#path-175')
    path#path-177(d='M477.997 158.503h450v10h-450z')
    mask#mask-178(width='450', height='10', x='0', y='0', fill='white')
      use(xlink:href='#path-177')
    path#path-179(d='M447.997 158.503h450v10h-450z')
    mask#mask-180(width='450', height='10', x='0', y='0', fill='white')
      use(xlink:href='#path-179')
    path#path-181(d='M417.997 158.503h450v10h-450z')
    mask#mask-182(width='450', height='10', x='0', y='0', fill='white')
      use(xlink:href='#path-181')
    path#path-183(d='M387.997 158.503h450v10h-450z')
    mask#mask-184(width='450', height='10', x='0', y='0', fill='white')
      use(xlink:href='#path-183')
    path#path-185(d='M357.997 158.503h450v10h-450z')
    mask#mask-186(width='450', height='10', x='0', y='0', fill='white')
      use(xlink:href='#path-185')
    path#path-187(d='M327.997 158.503h450v10h-450z')
    mask#mask-188(width='450', height='10', x='0', y='0', fill='white')
      use(xlink:href='#path-187')
    path#path-189(d='M297.997 158.503h450v10h-450z')
    mask#mask-190(width='450', height='10', x='0', y='0', fill='white')
      use(xlink:href='#path-189')
    path#path-191(d='M267.997 158.503h450v10h-450z')
    mask#mask-192(width='450', height='10', x='0', y='0', fill='white')
      use(xlink:href='#path-191')
    path#path-193(d='M237.997 158.503h450v10h-450z')
    mask#mask-194(width='450', height='10', x='0', y='0', fill='white')
      use(xlink:href='#path-193')
    path#path-195(d='M207.997 158.503h450v10h-450z')
    mask#mask-196(width='450', height='10', x='0', y='0', fill='white')
      use(xlink:href='#path-195')
    path#path-197(d='M177.997 158.503h450v10h-450z')
    mask#mask-198(width='450', height='10', x='0', y='0', fill='white')
      use(xlink:href='#path-197')
    path#path-199(d='M147.997 158.503h450v10h-450z')
    mask#mask-200(width='450', height='10', x='0', y='0', fill='white')
      use(xlink:href='#path-199')
    path#path-201(d='M117.997 158.503h450v10h-450z')
    mask#mask-202(width='450', height='10', x='0', y='0', fill='white')
      use(xlink:href='#path-201')
    path#path-203(d='M87.997 158.503h450v10h-450z')
    mask#mask-204(width='450', height='10', x='0', y='0', fill='white')
      use(xlink:href='#path-203')
    path#path-205(d='M57.997 158.503h450v10h-450z')
    mask#mask-206(width='450', height='10', x='0', y='0', fill='white')
      use(xlink:href='#path-205')
    path#path-207(d='M27.997 158.503h450v10h-450z')
    mask#mask-208(width='450', height='10', x='0', y='0', fill='white')
      use(xlink:href='#path-207')
    path#path-209(d='M-2.003 158.503h450v10h-450z')
    mask#mask-210(width='450', height='10', x='0', y='0', fill='white')
      use(xlink:href='#path-209')
    path#path-211(d='M-32.003 158.503h450v10h-450z')
    mask#mask-212(width='450', height='10', x='0', y='0', fill='white')
      use(xlink:href='#path-211')
    path#path-213(d='M-62.003 158.503h450v10h-450z')
    mask#mask-214(width='450', height='10', x='0', y='0', fill='white')
      use(xlink:href='#path-213')
    path#path-215(d='M1143 86.445L1319 0v297h-176z')
    mask#mask-216(width='176', height='297', x='0', y='0', fill='white')
      use(xlink:href='#path-215')
    path#path-217(d='M844 109.343L1149 85v213H844z')
    mask#mask-218(width='305', height='213', x='0', y='0', fill='white')
      use(xlink:href='#path-217')
    path#path-219(d='M0 87.318L176 0v300H0z')
    mask#mask-220(width='176', height='300', x='0', y='0', fill='white')
      use(xlink:href='#path-219')
    path#path-221(d='M475 109.343L170 85v213h305')
    mask#mask-222(width='305', height='213', x='0', y='0', fill='white')
      use(xlink:href='#path-221')
    path#path-223(d='M473 109h371v189H473z')
    mask#mask-224(width='371', height='189', x='0', y='0', fill='white')
      use(xlink:href='#path-223')
    path#path-225(d='M.282.87l285.33 47.366V345.34L.282 324.943z')
    path#path-227(d='M194.704 53.095l216.82 493.372-6.275 12.413L188.427 65.507z')
    mask#mask-228(width='223.096', height='505.785', x='0', y='0', fill='white')
      use(xlink:href='#path-227')
    path#path-229(d='M182.152 77.97l216.82 493.374-6.275 12.516-216.82-493.373z')
    mask#mask-230(width='223.096', height='505.889', x='0', y='0', fill='white')
      use(xlink:href='#path-229')
    path#path-231(d='M169.6 103.055l216.822 493.373-6.276 12.62-216.82-493.373z')
    mask#mask-232(width='223.096', height='505.992', x='0', y='0', fill='white')
      use(xlink:href='#path-231')
    path#path-233(d='M157.05 128.346L373.87 621.72l-6.275 12.722-216.82-493.373z')
    mask#mask-234(width='223.096', height='506.096', x='0', y='0', fill='white')
      use(xlink:href='#path-233')
    path#path-235(d='M144.5 153.844l216.82 493.373-6.276 12.827-216.82-493.373z')
    mask#mask-236(width='223.096', height='506.199', x='0', y='0', fill='white')
      use(xlink:href='#path-235')
    path#path-237(d='M131.948 179.55l216.82 493.372-6.275 12.93-216.82-493.372z')
    mask#mask-238(width='223.096', height='506.303', x='0', y='0', fill='white')
      use(xlink:href='#path-237')
    path#path-239(d='M119.397 205.462l216.82 493.373-6.275 13.034-216.82-493.374z')
    mask#mask-240(width='223.096', height='506.406', x='0', y='0', fill='white')
      use(xlink:href='#path-239')
    path#path-241(d='M106.846 231.582l216.82 493.372-6.275 13.138L100.57 244.72z')
    mask#mask-242(width='223.096', height='506.51', x='0', y='0', fill='white')
      use(xlink:href='#path-241')
    path#path-243(d='M94.925 259.885l142.14 330.283-6.274 13.242L88.65 273.127z')
    mask#mask-244(width='148.417', height='343.525', x='0', y='0', fill='white')
      use(xlink:href='#path-243')
    path#path-245(d='M82.374 286.42l142.14 330.284-6.275 13.345L76.097 299.765z')
    mask#mask-246(width='148.417', height='343.629', x='0', y='0', fill='white')
      use(xlink:href='#path-245')
    path#path-247(d='M69.822 313.163l142.142 330.284-6.276 13.45L63.548 326.61z')
    mask#mask-248(width='148.417', height='343.733', x='0', y='0', fill='white')
      use(xlink:href='#path-247')
    path#path-249(d='M57.27 340.113l142.143 330.283-6.276 13.553-142.14-330.285z')
    mask#mask-250(width='148.417', height='343.836', x='0', y='0', fill='white')
      use(xlink:href='#path-249')
    path#path-251(d='M44.72 367.27l142.142 330.283-6.276 13.656-142.14-330.284z')
    mask#mask-252(width='148.417', height='343.94', x='0', y='0', fill='white')
      use(xlink:href='#path-251')
    path#path-253(d='M32.17 394.634l142.14 330.283-6.275 13.76-142.14-330.283z')
    mask#mask-254(width='148.417', height='344.043', x='0', y='0', fill='white')
      use(xlink:href='#path-253')
    path#path-255(d='M19.618 422.205l142.14 330.284-6.274 13.862L13.342 436.068z')
    mask#mask-256(width='148.417', height='344.147', x='0', y='0', fill='white')
      use(xlink:href='#path-255')
    path#path-257(d='M7.067 449.983l142.14 330.284-6.274 13.967L.79 463.95z')
    mask#mask-258(width='148.417', height='344.25', x='0', y='0', fill='white')
      use(xlink:href='#path-257')
    path#path-259(d='M376.867 56.255L513.36 359.318l-6.275 11.587L370.59 67.842z')
    mask#mask-260(width='142.769', height='314.649', x='0', y='0', fill='white')
      use(xlink:href='#path-259')
    path#path-261(d='M364.316 79.48L500.81 382.544l-6.277 11.69L358.04 91.172z')
    mask#mask-262(width='142.769', height='314.753', x='0', y='0', fill='white')
      use(xlink:href='#path-261')
    path#path-263(d='M351.765 102.913l136.493 303.063-6.276 11.794L345.49 114.707z')
    mask#mask-264(width='142.769', height='314.857', x='0', y='0', fill='white')
      use(xlink:href='#path-263')
    path#path-265(d='M339.213 126.553l136.494 303.062-6.276 11.898L332.94 138.45z')
    mask#mask-266(width='142.769', height='314.96', x='0', y='0', fill='white')
      use(xlink:href='#path-265')
    path#path-267(d='M326.662 150.4L463.156 453.46l-6.276 12L320.387 162.4z')
    mask#mask-268(width='142.769', height='315.064', x='0', y='0', fill='white')
      use(xlink:href='#path-267')
    path#path-269(d='M314.11 174.453l136.495 303.063-6.276 12.104-136.494-303.062z')
    mask#mask-270(width='142.769', height='315.167', x='0', y='0', fill='white')
      use(xlink:href='#path-269')
    path#path-271(d='M301.56 198.714l136.493 303.063-6.275 12.208-136.493-303.063z')
    mask#mask-272(width='142.769', height='315.271', x='0', y='0', fill='white')
      use(xlink:href='#path-271')
    path#path-273(d='M289.01 223.182L425.5 526.245l-6.275 12.312-136.494-303.063z')
    mask#mask-274(width='142.769', height='315.374', x='0', y='0', fill='white')
      use(xlink:href='#path-273')
    path#path-275(d='M319.61 80.84L102.79 521.9l6.274 14.632 216.82-441.06z')
    mask#mask-276(width='223.096', height='455.692', x='0', y='0', fill='white')
      use(xlink:href='#path-275')
    path#path-277(d='M332.16 110.055l-216.82 441.06 6.276 14.528 216.82-441.058z')
    mask#mask-278(width='223.096', height='455.588', x='0', y='0', fill='white')
      use(xlink:href='#path-277')
    path#path-279(d='M344.712 139.062l-216.82 441.06 6.275 14.425 216.82-441.058z')
    mask#mask-280(width='223.096', height='455.485', x='0', y='0', fill='white')
      use(xlink:href='#path-279')
    path#path-281(d='M357.263 167.863l-216.82 441.06 6.275 14.32 216.82-441.057z')
    mask#mask-282(width='223.096', height='455.381', x='0', y='0', fill='white')
      use(xlink:href='#path-281')
    path#path-283(d='M369.814 196.456l-216.82 441.06 6.275 14.218 216.82-441.06z')
    mask#mask-284(width='223.096', height='455.278', x='0', y='0', fill='white')
      use(xlink:href='#path-283')
    path#path-285(d='M382.365 224.843L165.545 665.9l6.275 14.117 216.82-441.06z')
    mask#mask-286(width='223.096', height='455.174', x='0', y='0', fill='white')
      use(xlink:href='#path-285')
    path#path-287(d='M394.916 253.022L178.096 694.08l6.275 14.012 216.822-441.058z')
    mask#mask-288(width='223.096', height='455.071', x='0', y='0', fill='white')
      use(xlink:href='#path-287')
    path#path-289(d='M407.467 280.994l-216.82 441.058 6.275 13.91 216.82-441.06z')
    mask#mask-290(width='223.096', height='454.967', x='0', y='0', fill='white')
      use(xlink:href='#path-289')
    path#path-291(d='M419.388 310.36l-142.14 282.304 6.274 13.804 142.142-282.303z')
    mask#mask-292(width='148.417', height='296.107', x='0', y='0', fill='white')
      use(xlink:href='#path-291')
    path#path-293(d='M431.94 337.917L289.797 620.22l6.276 13.7 142.14-282.302z')
    mask#mask-294(width='148.417', height='296.003', x='0', y='0', fill='white')
      use(xlink:href='#path-293')
    path#path-295(d='M444.49 365.266L302.35 647.57l6.275 13.596 142.14-282.303z')
    mask#mask-296(width='148.417', height='295.9', x='0', y='0', fill='white')
      use(xlink:href='#path-295')
    path#path-297(d='M457.042 392.408L314.9 674.71l6.276 13.494L463.316 405.9z')
    mask#mask-298(width='148.417', height='295.796', x='0', y='0', fill='white')
      use(xlink:href='#path-297')
    path#path-299(d='M469.593 419.342L327.45 701.646l6.277 13.39 142.14-282.304z')
    mask#mask-300(width='148.417', height='295.693', x='0', y='0', fill='white')
      use(xlink:href='#path-299')
    path#path-301(d='M482.144 446.07L340.002 728.373l6.276 13.286 142.14-282.304z')
    mask#mask-302(width='148.417', height='295.589', x='0', y='0', fill='white')
      use(xlink:href='#path-301')
    path#path-303(d='M494.695 472.59l-142.14 282.303 6.274 13.183 142.14-282.303z')
    mask#mask-304(width='148.417', height='295.486', x='0', y='0', fill='white')
      use(xlink:href='#path-303')
    path#path-305(d='M507.246 498.903l-142.14 282.304 6.274 13.078 142.142-282.303z')
    mask#mask-306(width='148.417', height='295.382', x='0', y='0', fill='white')
      use(xlink:href='#path-305')
    path#path-307(d='M137.446.245L.953 285.427l6.275 15.46L143.722 15.703z')
    mask#mask-308(width='142.769', height='300.642', x='0', y='0', fill='white')
      use(xlink:href='#path-307')
    path#path-309(d='M149.997 31.11L13.504 316.295l6.276 15.355L156.273 46.465z')
    mask#mask-310(width='142.769', height='300.538', x='0', y='0', fill='white')
      use(xlink:href='#path-309')
    path#path-311(d='M162.548 61.77L26.055 346.953l6.276 15.252L168.825 77.022z')
    mask#mask-312(width='142.769', height='300.435', x='0', y='0', fill='white')
      use(xlink:href='#path-311')
    path#path-313(d='M175.1 92.222L38.606 377.405l6.276 15.148L181.375 107.37z')
    mask#mask-314(width='142.769', height='300.331', x='0', y='0', fill='white')
      use(xlink:href='#path-313')
    path#path-315(d='M187.65 122.467L51.158 407.65l6.276 15.044 136.493-285.182z')
    mask#mask-316(width='142.769', height='300.227', x='0', y='0', fill='white')
      use(xlink:href='#path-315')
    path#path-317(d='M200.202 152.505L63.708 437.687l6.276 14.94 136.493-285.18z')
    mask#mask-318(width='142.769', height='300.124', x='0', y='0', fill='white')
      use(xlink:href='#path-317')
    path#path-319(d='M212.753 182.335L76.26 467.518l6.275 14.837 136.493-285.182z')
    mask#mask-320(width='142.769', height='300.02', x='0', y='0', fill='white')
      use(xlink:href='#path-319')
    path#path-321(d='M225.304 211.96L88.81 497.14l6.276 14.735L231.58 226.693z')
    mask#mask-322(width='142.769', height='299.917', x='0', y='0', fill='white')
      use(xlink:href='#path-321')
    path#path-323(d='M.282.87l285.33 47.366V345.34L.282 324.943z')
    path#path-325(d='M194.704 53.095l216.82 493.372-6.275 12.413L188.427 65.507z')
    mask#mask-326(width='223.096', height='505.785', x='0', y='0', fill='white')
      use(xlink:href='#path-325')
    path#path-327(d='M182.152 77.97l216.82 493.374-6.275 12.516-216.82-493.373z')
    mask#mask-328(width='223.096', height='505.889', x='0', y='0', fill='white')
      use(xlink:href='#path-327')
    path#path-329(d='M169.6 103.055l216.822 493.373-6.276 12.62-216.82-493.373z')
    mask#mask-330(width='223.096', height='505.992', x='0', y='0', fill='white')
      use(xlink:href='#path-329')
    path#path-331(d='M157.05 128.346L373.87 621.72l-6.275 12.722-216.82-493.373z')
    mask#mask-332(width='223.096', height='506.096', x='0', y='0', fill='white')
      use(xlink:href='#path-331')
    path#path-333(d='M144.5 153.844l216.82 493.373-6.276 12.827-216.82-493.373z')
    mask#mask-334(width='223.096', height='506.199', x='0', y='0', fill='white')
      use(xlink:href='#path-333')
    path#path-335(d='M131.948 179.55l216.82 493.372-6.275 12.93-216.82-493.372z')
    mask#mask-336(width='223.096', height='506.303', x='0', y='0', fill='white')
      use(xlink:href='#path-335')
    path#path-337(d='M119.397 205.462l216.82 493.373-6.275 13.034-216.82-493.374z')
    mask#mask-338(width='223.096', height='506.406', x='0', y='0', fill='white')
      use(xlink:href='#path-337')
    path#path-339(d='M106.846 231.582l216.82 493.372-6.275 13.138L100.57 244.72z')
    mask#mask-340(width='223.096', height='506.51', x='0', y='0', fill='white')
      use(xlink:href='#path-339')
    path#path-341(d='M94.925 259.885l142.14 330.283-6.274 13.242L88.65 273.127z')
    mask#mask-342(width='148.417', height='343.525', x='0', y='0', fill='white')
      use(xlink:href='#path-341')
    path#path-343(d='M82.374 286.42l142.14 330.284-6.275 13.345L76.097 299.765z')
    mask#mask-344(width='148.417', height='343.629', x='0', y='0', fill='white')
      use(xlink:href='#path-343')
    path#path-345(d='M69.822 313.163l142.142 330.284-6.276 13.45L63.548 326.61z')
    mask#mask-346(width='148.417', height='343.733', x='0', y='0', fill='white')
      use(xlink:href='#path-345')
    path#path-347(d='M57.27 340.113l142.143 330.283-6.276 13.553-142.14-330.285z')
    mask#mask-348(width='148.417', height='343.836', x='0', y='0', fill='white')
      use(xlink:href='#path-347')
    path#path-349(d='M44.72 367.27l142.142 330.283-6.276 13.656-142.14-330.284z')
    mask#mask-350(width='148.417', height='343.94', x='0', y='0', fill='white')
      use(xlink:href='#path-349')
    path#path-351(d='M32.17 394.634l142.14 330.283-6.275 13.76-142.14-330.283z')
    mask#mask-352(width='148.417', height='344.043', x='0', y='0', fill='white')
      use(xlink:href='#path-351')
    path#path-353(d='M19.618 422.205l142.14 330.284-6.274 13.862L13.342 436.068z')
    mask#mask-354(width='148.417', height='344.147', x='0', y='0', fill='white')
      use(xlink:href='#path-353')
    path#path-355(d='M7.067 449.983l142.14 330.284-6.274 13.967L.79 463.95z')
    mask#mask-356(width='148.417', height='344.25', x='0', y='0', fill='white')
      use(xlink:href='#path-355')
    path#path-357(d='M376.867 56.255L513.36 359.318l-6.275 11.587L370.59 67.842z')
    mask#mask-358(width='142.769', height='314.649', x='0', y='0', fill='white')
      use(xlink:href='#path-357')
    path#path-359(d='M364.316 79.48L500.81 382.544l-6.277 11.69L358.04 91.172z')
    mask#mask-360(width='142.769', height='314.753', x='0', y='0', fill='white')
      use(xlink:href='#path-359')
    path#path-361(d='M351.765 102.913l136.493 303.063-6.276 11.794L345.49 114.707z')
    mask#mask-362(width='142.769', height='314.857', x='0', y='0', fill='white')
      use(xlink:href='#path-361')
    path#path-363(d='M339.213 126.553l136.494 303.062-6.276 11.898L332.94 138.45z')
    mask#mask-364(width='142.769', height='314.96', x='0', y='0', fill='white')
      use(xlink:href='#path-363')
    path#path-365(d='M326.662 150.4L463.156 453.46l-6.276 12L320.387 162.4z')
    mask#mask-366(width='142.769', height='315.064', x='0', y='0', fill='white')
      use(xlink:href='#path-365')
    path#path-367(d='M314.11 174.453l136.495 303.063-6.276 12.104-136.494-303.062z')
    mask#mask-368(width='142.769', height='315.167', x='0', y='0', fill='white')
      use(xlink:href='#path-367')
    path#path-369(d='M301.56 198.714l136.493 303.063-6.275 12.208-136.493-303.063z')
    mask#mask-370(width='142.769', height='315.271', x='0', y='0', fill='white')
      use(xlink:href='#path-369')
    path#path-371(d='M289.01 223.182L425.5 526.245l-6.275 12.312-136.494-303.063z')
    mask#mask-372(width='142.769', height='315.374', x='0', y='0', fill='white')
      use(xlink:href='#path-371')
    path#path-373(d='M319.61 80.84L102.79 521.9l6.274 14.632 216.82-441.06z')
    mask#mask-374(width='223.096', height='455.692', x='0', y='0', fill='white')
      use(xlink:href='#path-373')
    path#path-375(d='M332.16 110.055l-216.82 441.06 6.276 14.528 216.82-441.058z')
    mask#mask-376(width='223.096', height='455.588', x='0', y='0', fill='white')
      use(xlink:href='#path-375')
    path#path-377(d='M344.712 139.062l-216.82 441.06 6.275 14.425 216.82-441.058z')
    mask#mask-378(width='223.096', height='455.485', x='0', y='0', fill='white')
      use(xlink:href='#path-377')
    path#path-379(d='M357.263 167.863l-216.82 441.06 6.275 14.32 216.82-441.057z')
    mask#mask-380(width='223.096', height='455.381', x='0', y='0', fill='white')
      use(xlink:href='#path-379')
    path#path-381(d='M369.814 196.456l-216.82 441.06 6.275 14.218 216.82-441.06z')
    mask#mask-382(width='223.096', height='455.278', x='0', y='0', fill='white')
      use(xlink:href='#path-381')
    path#path-383(d='M382.365 224.843L165.545 665.9l6.275 14.117 216.82-441.06z')
    mask#mask-384(width='223.096', height='455.174', x='0', y='0', fill='white')
      use(xlink:href='#path-383')
    path#path-385(d='M394.916 253.022L178.096 694.08l6.275 14.012 216.822-441.058z')
    mask#mask-386(width='223.096', height='455.071', x='0', y='0', fill='white')
      use(xlink:href='#path-385')
    path#path-387(d='M407.467 280.994l-216.82 441.058 6.275 13.91 216.82-441.06z')
    mask#mask-388(width='223.096', height='454.967', x='0', y='0', fill='white')
      use(xlink:href='#path-387')
    path#path-389(d='M419.388 310.36l-142.14 282.304 6.274 13.804 142.142-282.303z')
    mask#mask-390(width='148.417', height='296.107', x='0', y='0', fill='white')
      use(xlink:href='#path-389')
    path#path-391(d='M431.94 337.917L289.797 620.22l6.276 13.7 142.14-282.302z')
    mask#mask-392(width='148.417', height='296.003', x='0', y='0', fill='white')
      use(xlink:href='#path-391')
    path#path-393(d='M444.49 365.266L302.35 647.57l6.275 13.596 142.14-282.303z')
    mask#mask-394(width='148.417', height='295.9', x='0', y='0', fill='white')
      use(xlink:href='#path-393')
    path#path-395(d='M457.042 392.408L314.9 674.71l6.276 13.494L463.316 405.9z')
    mask#mask-396(width='148.417', height='295.796', x='0', y='0', fill='white')
      use(xlink:href='#path-395')
    path#path-397(d='M469.593 419.342L327.45 701.646l6.277 13.39 142.14-282.304z')
    mask#mask-398(width='148.417', height='295.693', x='0', y='0', fill='white')
      use(xlink:href='#path-397')
    path#path-399(d='M482.144 446.07L340.002 728.373l6.276 13.286 142.14-282.304z')
    mask#mask-400(width='148.417', height='295.589', x='0', y='0', fill='white')
      use(xlink:href='#path-399')
    path#path-401(d='M494.695 472.59l-142.14 282.303 6.274 13.183 142.14-282.303z')
    mask#mask-402(width='148.417', height='295.486', x='0', y='0', fill='white')
      use(xlink:href='#path-401')
    path#path-403(d='M507.246 498.903l-142.14 282.304 6.274 13.078 142.142-282.303z')
    mask#mask-404(width='148.417', height='295.382', x='0', y='0', fill='white')
      use(xlink:href='#path-403')
    path#path-405(d='M137.446.245L.953 285.427l6.275 15.46L143.722 15.703z')
    mask#mask-406(width='142.769', height='300.642', x='0', y='0', fill='white')
      use(xlink:href='#path-405')
    path#path-407(d='M149.997 31.11L13.504 316.295l6.276 15.355L156.273 46.465z')
    mask#mask-408(width='142.769', height='300.538', x='0', y='0', fill='white')
      use(xlink:href='#path-407')
    path#path-409(d='M162.548 61.77L26.055 346.953l6.276 15.252L168.825 77.022z')
    mask#mask-410(width='142.769', height='300.435', x='0', y='0', fill='white')
      use(xlink:href='#path-409')
    path#path-411(d='M175.1 92.222L38.606 377.405l6.276 15.148L181.375 107.37z')
    mask#mask-412(width='142.769', height='300.331', x='0', y='0', fill='white')
      use(xlink:href='#path-411')
    path#path-413(d='M187.65 122.467L51.158 407.65l6.276 15.044 136.493-285.182z')
    mask#mask-414(width='142.769', height='300.227', x='0', y='0', fill='white')
      use(xlink:href='#path-413')
    path#path-415(d='M200.202 152.505L63.708 437.687l6.276 14.94 136.493-285.18z')
    mask#mask-416(width='142.769', height='300.124', x='0', y='0', fill='white')
      use(xlink:href='#path-415')
    path#path-417(d='M212.753 182.335L76.26 467.518l6.275 14.837 136.493-285.182z')
    mask#mask-418(width='142.769', height='300.02', x='0', y='0', fill='white')
      use(xlink:href='#path-417')
    path#path-419(d='M225.304 211.96L88.81 497.14l6.276 14.735L231.58 226.693z')
    mask#mask-420(width='142.769', height='299.917', x='0', y='0', fill='white')
      use(xlink:href='#path-419')
    path#path-421(d='M0 0h643v324H0z')
    path#path-423(d='M328.995 282.005h691v20h-691z')
    mask#mask-424(width='691', height='20', x='0', y='0', fill='white')
      use(xlink:href='#path-423')
    path#path-425(d='M300.71 310.29h691v20h-691z')
    mask#mask-426(width='691', height='20', x='0', y='0', fill='white')
      use(xlink:href='#path-425')
    path#path-427(d='M272.426 338.574h691v20h-691z')
    mask#mask-428(width='691', height='20', x='0', y='0', fill='white')
      use(xlink:href='#path-427')
    path#path-429(d='M244.142 366.858h691v20h-691z')
    mask#mask-430(width='691', height='20', x='0', y='0', fill='white')
      use(xlink:href='#path-429')
    path#path-431(d='M215.858 395.142h691v20h-691z')
    mask#mask-432(width='691', height='20', x='0', y='0', fill='white')
      use(xlink:href='#path-431')
    path#path-433(d='M187.574 423.426h691v20h-691z')
    mask#mask-434(width='691', height='20', x='0', y='0', fill='white')
      use(xlink:href='#path-433')
    path#path-435(d='M159.29 451.71h691v20h-691z')
    mask#mask-436(width='691', height='20', x='0', y='0', fill='white')
      use(xlink:href='#path-435')
    path#path-437(d='M131.005 479.995h691v20h-691z')
    mask#mask-438(width='691', height='20', x='0', y='0', fill='white')
      use(xlink:href='#path-437')
    path#path-439(d='M138.995 426.005h453v20h-453z')
    mask#mask-440(width='453', height='20', x='0', y='0', fill='white')
      use(xlink:href='#path-439')
    path#path-441(d='M110.71 454.29h453v20h-453z')
    mask#mask-442(width='453', height='20', x='0', y='0', fill='white')
      use(xlink:href='#path-441')
    path#path-443(d='M82.426 482.574h453v20h-453z')
    mask#mask-444(width='453', height='20', x='0', y='0', fill='white')
      use(xlink:href='#path-443')
    path#path-445(d='M54.142 510.858h453v20h-453z')
    mask#mask-446(width='453', height='20', x='0', y='0', fill='white')
      use(xlink:href='#path-445')
    path#path-447(d='M25.858 539.142h453v20h-453z')
    mask#mask-448(width='453', height='20', x='0', y='0', fill='white')
      use(xlink:href='#path-447')
    path#path-449(d='M-2.426 567.426h453v20h-453z')
    mask#mask-450(width='453', height='20', x='0', y='0', fill='white')
      use(xlink:href='#path-449')
    path#path-451(d='M-30.71 595.71h453v20h-453z')
    mask#mask-452(width='453', height='20', x='0', y='0', fill='white')
      use(xlink:href='#path-451')
    path#path-453(d='M-58.995 623.995h453v20h-453z')
    mask#mask-454(width='453', height='20', x='0', y='0', fill='white')
      use(xlink:href='#path-453')
    path#path-455(d='M776.995 151.005h435v20h-435z')
    mask#mask-456(width='435', height='20', x='0', y='0', fill='white')
      use(xlink:href='#path-455')
    path#path-457(d='M748.71 179.29h435v20h-435z')
    mask#mask-458(width='435', height='20', x='0', y='0', fill='white')
      use(xlink:href='#path-457')
    path#path-459(d='M720.426 207.574h435v20h-435z')
    mask#mask-460(width='435', height='20', x='0', y='0', fill='white')
      use(xlink:href='#path-459')
    path#path-461(d='M692.142 235.858h435v20h-435z')
    mask#mask-462(width='435', height='20', x='0', y='0', fill='white')
      use(xlink:href='#path-461')
    path#path-463(d='M663.858 264.142h435v20h-435z')
    mask#mask-464(width='435', height='20', x='0', y='0', fill='white')
      use(xlink:href='#path-463')
    path#path-465(d='M635.574 292.426h435v20h-435z')
    mask#mask-466(width='435', height='20', x='0', y='0', fill='white')
      use(xlink:href='#path-465')
    path#path-467(d='M607.29 320.71h435v20h-435z')
    mask#mask-468(width='435', height='20', x='0', y='0', fill='white')
      use(xlink:href='#path-467')
    path#path-469(d='M579.005 348.995h435v20h-435z')
    mask#mask-470(width='435', height='20', x='0', y='0', fill='white')
      use(xlink:href='#path-469')
    path#path-471(d='M136.005 282.005h691v20h-691z')
    mask#mask-472(width='691', height='20', x='0', y='0', fill='white')
      use(xlink:href='#path-471')
    path#path-473(d='M164.29 310.29h691v20h-691z')
    mask#mask-474(width='691', height='20', x='0', y='0', fill='white')
      use(xlink:href='#path-473')
    path#path-475(d='M192.574 338.574h691v20h-691z')
    mask#mask-476(width='691', height='20', x='0', y='0', fill='white')
      use(xlink:href='#path-475')
    path#path-477(d='M220.858 366.858h691v20h-691z')
    mask#mask-478(width='691', height='20', x='0', y='0', fill='white')
      use(xlink:href='#path-477')
    path#path-479(d='M249.142 395.142h691v20h-691z')
    mask#mask-480(width='691', height='20', x='0', y='0', fill='white')
      use(xlink:href='#path-479')
    path#path-481(d='M277.426 423.426h691v20h-691z')
    mask#mask-482(width='691', height='20', x='0', y='0', fill='white')
      use(xlink:href='#path-481')
    path#path-483(d='M305.71 451.71h691v20h-691z')
    mask#mask-484(width='691', height='20', x='0', y='0', fill='white')
      use(xlink:href='#path-483')
    path#path-485(d='M333.995 479.995h691v20h-691z')
    mask#mask-486(width='691', height='20', x='0', y='0', fill='white')
      use(xlink:href='#path-485')
    path#path-487(d='M564.005 426.005h453v20h-453z')
    mask#mask-488(width='453', height='20', x='0', y='0', fill='white')
      use(xlink:href='#path-487')
    path#path-489(d='M592.29 454.29h453v20h-453z')
    mask#mask-490(width='453', height='20', x='0', y='0', fill='white')
      use(xlink:href='#path-489')
    path#path-491(d='M620.574 482.574h453v20h-453z')
    mask#mask-492(width='453', height='20', x='0', y='0', fill='white')
      use(xlink:href='#path-491')
    path#path-493(d='M648.858 510.858h453v20h-453z')
    mask#mask-494(width='453', height='20', x='0', y='0', fill='white')
      use(xlink:href='#path-493')
    path#path-495(d='M677.142 539.142h453v20h-453z')
    mask#mask-496(width='453', height='20', x='0', y='0', fill='white')
      use(xlink:href='#path-495')
    path#path-497(d='M705.426 567.426h453v20h-453z')
    mask#mask-498(width='453', height='20', x='0', y='0', fill='white')
      use(xlink:href='#path-497')
    path#path-499(d='M733.71 595.71h453v20h-453z')
    mask#mask-500(width='453', height='20', x='0', y='0', fill='white')
      use(xlink:href='#path-499')
    path#path-501(d='M761.995 623.995h453v20h-453z')
    mask#mask-502(width='453', height='20', x='0', y='0', fill='white')
      use(xlink:href='#path-501')
    path#path-503(d='M-55.995 151.005h435v20h-435z')
    mask#mask-504(width='435', height='20', x='0', y='0', fill='white')
      use(xlink:href='#path-503')
    path#path-505(d='M-27.71 179.29h435v20h-435z')
    mask#mask-506(width='435', height='20', x='0', y='0', fill='white')
      use(xlink:href='#path-505')
    path#path-507(d='M.574 207.574h435v20h-435z')
    mask#mask-508(width='435', height='20', x='0', y='0', fill='white')
      use(xlink:href='#path-507')
    path#path-509(d='M28.858 235.858h435v20h-435z')
    mask#mask-510(width='435', height='20', x='0', y='0', fill='white')
      use(xlink:href='#path-509')
    path#path-511(d='M57.142 264.142h435v20h-435z')
    mask#mask-512(width='435', height='20', x='0', y='0', fill='white')
      use(xlink:href='#path-511')
    path#path-513(d='M85.426 292.426h435v20h-435z')
    mask#mask-514(width='435', height='20', x='0', y='0', fill='white')
      use(xlink:href='#path-513')
    path#path-515(d='M113.71 320.71h435v20h-435z')
    mask#mask-516(width='435', height='20', x='0', y='0', fill='white')
      use(xlink:href='#path-515')
    path#path-517(d='M141.995 348.995h435v20h-435z')
    mask#mask-518(width='435', height='20', x='0', y='0', fill='white')
      use(xlink:href='#path-517')
    lineargradient#linearGradient-519(x1='100%', x2='0%', y1='50%', y2='40.982%')
      stop(stop-color='#565F63', offset='0%')
      stop(stop-color='#484646', offset='100%')
    lineargradient#linearGradient-520(x1='100%', x2='5.802%', y1='40.396%', y2='40.396%')
      stop(stop-color='#626E73', offset='0%')
      stop(stop-color='#6E797E', offset='100%')
    lineargradient#linearGradient-521(x1='100%', x2='0%', y1='38.72%', y2='38.72%')
      stop(stop-color='#393838', offset='0%')
      stop(stop-color='#2F2E2E', offset='100%')
    lineargradient#linearGradient-522(x1='50%', x2='50%', y1='0%', y2='100%')
      stop(stop-color='#D26053', offset='0%')
      stop(stop-color='#C53F35', offset='100%')
    ellipse#path-523(cx='132.918', cy='499.407', rx='18.303', ry='18.896')
    mask#mask-524(width='36.605', height='37.793', x='0', y='0', fill='white')
      use(xlink:href='#path-523')
    path#path-525(d='M.602.39h233.432V413.11H.602z')
    path#path-527(d='M0 0h233.432v412.723H0z')
    mask#mask-528(width='233.432', height='412.723', x='0', y='0', fill='white')
      use(xlink:href='#path-527')
    circle#path-529(cx='43.23', cy='43.23', r='43.23')
    circle#path-531(cx='43.23', cy='43.23', r='43.23')
    mask#mask-532(width='86.46', height='86.46', x='0', y='0', fill='white')
      use(xlink:href='#path-531')
    circle#path-533(cx='43.23', cy='43.23', r='43.23')
    mask#mask-534(width='86.46', height='86.46', x='0', y='0', fill='white')
      use(xlink:href='#path-533')
    circle#path-535(cx='43.23', cy='43.23', r='43.23')
    circle#path-537(cx='43.23', cy='43.23', r='43.23')
    mask#mask-538(width='86.46', height='86.46', x='0', y='0', fill='white')
      use(xlink:href='#path-537')
    circle#path-539(cx='43.23', cy='43.23', r='43.23')
    mask#mask-540(width='86.46', height='86.46', x='0', y='0', fill='white')
      use(xlink:href='#path-539')
    path#path-541(d='M0 0h233.432v412.723H0z')
    mask#mask-542(width='233.432', height='412.723', x='0', y='0', fill='white')
      use(xlink:href='#path-541')
    path#path-543(d='M0 0h233.432v412.723H0z')
    mask#mask-544(width='233.432', height='412.723', x='0', y='0', fill='white')
      use(xlink:href='#path-543')
    path#path-545(d='M15.602 59.39h233.432V472.11H15.602z')
    mask#mask-546(width='233.432', height='412.723', x='0', y='0', fill='white')
      use(xlink:href='#path-545')
  g#Page-1(fill='none', fill-rule='evenodd')    
    g#cageGroup.hidden(data-cage)
      g#ambienceGroup
        path#bg(fill='#848E9C', d='M0 2065h2512V0H0z')
        path#floor_contrast(fill='#7B8590', d='M-1 1176s840.053-79 1256-79 1256 79 1256 79v818H-1v-818z')
        path#roof_contrast(fill='#808B98', d='M-1 618s579.528-169 1218-169 1294 169 1294 169V0H-1v618z')
        path#floor(fill='#626B6F', d='M-1 1236s840.053-79 1256-79 1256 79 1256 79v818H-1v-818z')
        path#floor_highlight(fill='#6E767A', d='M1391.994 1159.234C1831.332 1172.084 2511 1236 2511 1236v818H374s220.41-344.807 475-574c254.59-229.193 519.047-321.466 542.994-320.766z')
        path#cage_shadow(fill='#4A5256', d='M447.038 1198.32c177.006-13.504 380.63-27.29 560.24-35.03l376.933-4.28c176.616 4.954 393.477 18.38 589.623 32.662 4.25.31 0 109.833 0 109.833L1681 1361l-845 83-476-140 87.038-105.68z')
      g#cageBack(transform='translate(104.000000, -524.000000) translate(529.000000, 1351.000000)')
        g#Fence_bg(transform='translate(6.000000, 9.000000)')
          mask#mask-2(fill='white')
            use(xlink:href='#path-1')
  
        use#cage_frame_bg_piece(stroke='#4F5558', stroke-width='16', mask='url(#mask-216)', xlink:href='#path-215')
        use#cage_frame_bg_piece(stroke='#4F5558', stroke-width='14', mask='url(#mask-218)', xlink:href='#path-217')
        use#cage_frame_bg_piece(stroke='#4F5558', stroke-width='16', mask='url(#mask-220)', transform='translate(88.000000, 150.000000) scale(-1, 1) translate(-88.000000, -150.000000)', xlink:href='#path-219')
        use#cage_frame_bg_piece(stroke='#4F5558', stroke-width='14', mask='url(#mask-222)', xlink:href='#path-221')
        use#cage_frame_bg_piece(stroke='#4F5558', stroke-width='14', mask='url(#mask-224)', xlink:href='#path-223')
      g#lights
        path#light1(fill='#FFFCF7', d='M1292.4-490.41l244.02 1705.554L930 1193.967z', opacity='.547')
        path#light2(fill='#FFFCF7', d='M1683.816-489.32l-98.032 1704.88-392.953-69.29z', opacity='.254')
        path#light3(fill='#FFFCF7', d='M1060.71-486.63v1674.888H699.56z', opacity='.258')
        path#light4(fill='#FFFCF7', d='M304.647-220.514l873.074 1349.382-400.587 186.798z', opacity='.497')
        path#light5(fill='#F7FBFF', d='M2325.45-226.336L1262.51 1113.597l378.868 227.646z', opacity='.397')
      

      g#Fighters_mockup(data-fighters fill='#3B444D')
        path#Combined-Shape(d='M1831.883 928.394l.408-.028 10.497 4.393 11.174 6.42 5.757 4.055.006.12 3.334 1.328 5.143 16.74-.686 5.022 5.486 19.753v19.754l-1.096 2.717 1.55 1.678 7.546 15.066-2.058 12.053-2.768 4.63-.205 2.186-1.41.515-.42.704-2.174 1.2 2.993 4.314 3.04 24.195 10.542 1.567 22.544 8.037 16.508 18.926 31.53 20.408.738 5.573-12.328 13.785-13.784 12.813-5.806 4.35-4.842 1.444-3.153-2.186 13.032-25.653-2.682-8.968-22.066-11.428-26.194-16.522-7.028-1.71-2.868-2.765c-3.496-.586-8.657-3.125-8.657-3.125l-2.458-3.15-11.287-13.857-4.25-9.034-1.544 1.207-26.074 8.37-8.53 3.136 1.24 1.676 10.26 21.624-1.71 25.056 7.864 36.726-3.42 4.462-18.464 1.03-18.806-.686-7.18-1.03-4.446-2.403-.684-3.774 27.355-8.924 4.445-8.238-7.523-23.683-6.838-30.204-3.763-6.178-.13-7.12-.547-7.494.4-.778-.065-3.486 1.824.05 1.957-3.82 10.635-8.37 3.43-3.014 2.42-1.825-4.89-7.413-6.213-7.502-12.247-20.032-.796.927-2.644-6.554-3.73-6.103-1.045-5.37s1.28-1.024 2.962-2.17v-10.605l5.486-19.753-.686-5.022 5.143-16.74 1.623-.646-.376-.182v-7.79l4.683-2.033-6.69-3.726s-.668-.938-.668-1.693c0-.755.668-2.37.668-2.37s-.66-.1-1.45-.25l-5.71 2.902-6.56-3.158-2.417-2.456-9.668.702-18.645 7.018-12.775-.702s-1.848-.96-3.638-2.264l-2.93 1.312-5.792-.32-10.788 4.058v.77l-2.37 1.15-15.233 31.533 1.43.796 5.813-.333 8.55 16.333-26.675 11-2.554 1.394-11.154 24.496-.873 4.37 12.98 6.87 15.095 11.383 3.43 3.013 10.635 8.37 1.958 3.82 1.825-.05-.064 3.486.4.778-.548 7.494-.13 7.12-3.76 6.178-6.84 30.205-7.522 23.684 4.445 8.238 27.355 8.924-.684 3.775-4.445 2.404-7.18 1.03-18.806.686-18.465-1.03-3.42-4.462 7.865-36.726-1.71-25.056 10.258-21.624 1.242-1.676-8.53-3.135-26.074-8.37-1.544-1.206-4.25 9.034-11.285 13.858-2.457 3.15s-5.16 2.538-8.657 3.124l-2.868 2.766-7.028 1.71-26.194 16.52-22.066 11.43-2.682 8.967 13.033 25.653-3.152 2.186-4.842-1.444-5.806-4.35-13.784-12.813-12.328-13.784.737-5.572 31.53-20.408 16.51-18.926 22.543-8.037 10.542-1.566 3.04-24.194 2.994-4.314-2.173-1.2-.42-.704-1.41-.515-.204-2.185-2.768-4.63-2.058-12.054 7.547-15.066.853-.925-1.4-3.47v-19.755l5.486-19.753-.686-5.022 5.143-16.74 5.252-2.09 4.844-3.413 11.173-6.42 10.496-4.394.407.028 5.57-14.265-2.342-14.565L1680.717 875s13.054.01 17.727 1.355c4.673 1.344 9.366 6.435 9.366 6.435s1.472 1.088 1.672 1.694c.2.606-.385 2.218-.385 2.218l2.726 8.282s.717 3.456.335 4.064c-.383.61-1.673.34-1.673.34l3.345 8.806s.183.745.17 1.36l10.732-.592 3.748-.962 3.95 1.635 13.03-3.635 16.573 1.404 23.93-1.248c.108-.662.214-1.172.214-1.172l2.726-8.282s-.585-1.612-.385-2.218c.2-.606 1.672-1.694 1.672-1.694s4.693-5.09 9.366-6.435c4.673-1.344 17.727-1.355 17.727-1.355l11.372 14.565-2.34 14.564 5.568 14.264zm-21.995 47.48l.395.82 22.1 48.53.707 3.533-.994 1.45-9.724 5.147-5.13-2.358-7.585-11.068-4.97-8.092s-1.665-6.358-1.89-9.736c-.126-1.86-2.493-5.965-4.595-9.277l4.798-5.59 4.457-5.69 2.43-7.67z')
      



      g#cageFront
        path#fence(stroke='#282E35', d='M645.882 1091.623l10.132 16.538 12.473-2.675-24.342-43.088 3.977-18.984 34.888 66.17 14.175-1.287-56.456-105.864 5.543-11.12 62.635 119.475 13.378-1.37-78.61-153.993V934.11l91.153 176.007h13.467L643.247 902.5l1.377-21.403 113.81 229.287h13.645l-127.52-259.98 3.076-17.963 137.856 279.27h14.516l-141.47-287.222 14.758-.577 137.522 285.884h15.26L681.956 820.402l15.33-.642 141.807 291.7 14.927-2.506L708.563 818.63l14.234-.623 140.464 290.23 14.58-.655-144.34-292.53 14.044.3 142.482 292.807 14.504-1.48-146.645-296.198 15.213.22 142.573 296.05 8.407-21.068-142.6-281.248 13.263.844 126.998 256.75 2.146-31.063-115.868-232.245 15.04.952 99.614 212.895 1.407-29.26-89.037-184.588 13.215.124 76.827 161.415-7.407-51.446-56.147-110.145 13.22-1.294 44.262 95.202.346-38.534L883.73 790.5l13.658 1.295 19.41 40.185 48.525 255.06 22.53 22.063 18.487-1.935-38.004-37.657 1.58-27.71 69.157 68.894 21.32-3.298-90.175-94.476 1.978-25.763 114.227 114.647 26.994-1.218-141.313-140.68 1.303-28.005 169.332 170.424 28.485-.124-200.82-200.396 1.34-28.888 229.804 230.712 27.23-.132L970.327 845.38l2.59-26.063 285.524 285.297 28.127-1.105L959.042 776l32.296 2.4 326.663 328.55 24.478-4.378-328.278-326.934 35.092 3.155 324.397 328.216 24.32-5.4-330.05-328.966 37.5 5.513 326.207 329.854 25.522-3.534-334.698-334.698 37.583 7.807 327.097 329.48 23.508-3.35-328.173-329.79 37.556 6.202 324.54 327.79 23.922-2.733L1238.01 772.01l34.604 5.237 328.14 330.053 12.78-17.394-318.415-316.83 33.493 4.624 290.985 292.132-16.816-47.883-248.087-245.424 31.008 2.2 216.083 216.88.808-28.816-193.597-191.012 35.778 2.282 159.88 164.603-1.223-33.285-137.442-132.854 35.695 4 102.86 105.392-1.245-33.847-79.648-73.567 34.25 2.42 45.88 47.684 1.298-30.343-24.662-20.552 46.588 3.263 34.626 300.816 13.664 23.346h12.297l-24.45-56.24.055-25.284 36.703 82.998 13.47-.57-52.957-119.71.983-20.594 62.38 141.776 12.798-3.876-76.265-172.47 1.342-18.484 84.903 191.83h14.38l-99.46-227.292.737-20.06 109.428 248.623 14.297-1.003-124.248-285.063.544-19.796 135.67 305.998 15.227.212-142.303-319.298 13.6 2.632 137.87 315.895 14.362-.122-140.517-315.905 15.362 4.283 133.76 311.066 13.166.23-136.066-311.01 11 2.08 136.563 309.13 13.697.962-134.682-306.457 11.66 1.886 132.41 303.61 15.634.856L1772.95 802.59l14.055 2.61 130.88 302.635 14.754.238-134.39-302.638 13.887 4.206 124.242 284.508-1.402-36.51-111.36-248.322 14.68 5.638 95.84 222.376 1.36-29.477-89.39-191.282 15.102 5.896 74.27 166.128.68-32.01-64.475-134.444 14.34 2.658 50.433 114.863 1.56-31.864-40.373-81.25 13.787 3.028 24.276 58.447 1.36-31.8-14.713-27.29 18.886 3.817-.618 249.932-14.3 30.203-12.966-1.083 32.128-62.922-10.34-4.43-33.75 68.643-13.796-1.174 57.14-116.068.88-23.488-70.812 140.08-13.943-.128 84.625-169.59.13-24.688-96.717 192.754-11.81-.69 108.847-220.4-.268-23.195-120.09 243.874-14.78.302 137.05-277.48-7.525-7.066-140.474 283.543h-15.242l141.687-287.244h-12.834l-140.64 287.522-12.87-1.45 140.818-288.46-12.19-2.077-141.518 291.513-13.024-.772 141.502-290.717-12.98-2.27-142.377 294.09-14.584-.78 144.934-293.8-10.34-4.37-145.445 295.745-14.347.137 148.436-301.81-12.972-2.387-147.222 303.04-13.237-5.962 148.56-298.67-12.275-2.603-134.38 274.64-3.19-25.414 123.605-252.198-12.62-1.942-117.414 245.505 1.05-30.755 103.884-216.925-11.875-.652-79.088 162.573-6.987-17.492 73.482-149.62-11.816-.418-57.823 118.862-5.313-19.955 50.523-102.11-11.313-1.066-32.94 63.903-4.473-13.98 22.817-53.188-61.288 298.63-40.505 34.662-22.855.477 65.683-72.348-6.465-17.927-86.526 86.025-27.273 2.313 120.52-124.243-2.443-19.615-146.443 142.195-23.84-5.86 172.92-170.754.627-29.163-207.735 208.53-29.58.18 239.77-238.944-7.196-21.602-260.785 257.833-30.767 1.038 291.91-290.106.024-24.995-321.202 316.616-30.18-.274 343.888-339.565-25.038-1.16-340.388 337.66-29.72.338L1554.886 770.1h-29.047l-336.684 335.774-25.815 1.47 331.812-335.61-27.813-2.21-335.784 335.797h-25.047l328.564-333.016-20.987-2.176-339.407 335.555-27.133-.537L1380.24 771.2l-24.77-1.743-340.3 341.577-33.2 2.96 346.526-345.332h-30.306l-328.87 330.982-10.717-18.445 313.748-312.03-27.02-1.066L965 1045.41l-1.068-29.235 251.22-245.443-27.957-1.79-220.11 218.725-3.23-27.144 192.44-190.244-20.375-3.42-172.745 169.134-.585-28.928 138.363-136.02-18.973-3.44-120.884 114.94L960.26 852l84.478-80.51-27.637-3.466-56.543 56.92-35.475 249.253-19.624 38.566-11.944.72 34.906-91.607-6.313-3.716-40.908 96.792-13.332-.553 61.21-142.332-7.75-5.127-64.698 148.616-12.39-.642 81.126-189.743-1.052-15.725-90.85 204.494-16.72.916 111.26-248.617-1.312-18.53L807.41 1117.35l-18.2-.578L924.34 816.9l-4.982-15.397-137.62 312.61-13.387.126 146.915-330.532-12.69-.153-145.864 333.62-13.762-.4 148.514-334.532-11.672 1.643-146.472 332.585-11.625-.61 140.532-323.553-12.67-.048-139.664 323.13-13.407-.8 142.92-321.798-12.72.38-139.992 319.806-12.332-.33L808.135 806.61l-8.13-1.758-136.7 307.266-10.476-.396 135.497-312.207-11.535 2.41-130.44 296.22-2.214-26.95L762.18 806.87l-11.583.33-100.862 229.57-.53-29.266 92.017-198.145-12.41 1.063-78.887 175.562-.55-29.633 67.85-145.05-13.482 3.476-53.575 118.544-.42-28.67 38.237-81.367-15.066 7.623-23.17 50-4.252-19.046 14.08-28.787')
        g#right_piece
          g#Fence_piece(transform='translate(104.000000, -524.000000) translate(510.000000, 1284.000000) translate(999.000000, 1.000000) translate(44.000000, 20.000000)')
            mask#mask-226(fill='white')
              use(xlink:href='#path-225')
            use#Mask(fill='#D8D8D8', opacity='.01', xlink:href='#path-225')
            //g#fence_string(stroke='#555555', stroke-width='2', mask='url(#mask-226)')
              g(transform='translate(-106.000000, -225.000000)')
                use(mask='url(#mask-228)', xlink:href='#path-227')
                use(mask='url(#mask-230)', xlink:href='#path-229')
                use(mask='url(#mask-232)', xlink:href='#path-231')
                use(mask='url(#mask-234)', xlink:href='#path-233')
                use(mask='url(#mask-236)', xlink:href='#path-235')
                use(mask='url(#mask-238)', xlink:href='#path-237')
                use(mask='url(#mask-240)', xlink:href='#path-239')
                use(mask='url(#mask-242)', xlink:href='#path-241')
                use(mask='url(#mask-244)', xlink:href='#path-243')
                use(mask='url(#mask-246)', xlink:href='#path-245')
                use(mask='url(#mask-248)', xlink:href='#path-247')
                use(mask='url(#mask-250)', xlink:href='#path-249')
                use(mask='url(#mask-252)', xlink:href='#path-251')
                use(mask='url(#mask-254)', xlink:href='#path-253')
                use(mask='url(#mask-256)', xlink:href='#path-255')
                use(mask='url(#mask-258)', xlink:href='#path-257')
                use(mask='url(#mask-260)', xlink:href='#path-259')
                use(mask='url(#mask-262)', xlink:href='#path-261')
                use(mask='url(#mask-264)', xlink:href='#path-263')
                use(mask='url(#mask-266)', xlink:href='#path-265')
                use(mask='url(#mask-268)', xlink:href='#path-267')
                use(mask='url(#mask-270)', xlink:href='#path-269')
                use(mask='url(#mask-272)', xlink:href='#path-271')
                use(mask='url(#mask-274)', xlink:href='#path-273')
                use(mask='url(#mask-276)', xlink:href='#path-275')
                use(mask='url(#mask-278)', xlink:href='#path-277')
                use(mask='url(#mask-280)', xlink:href='#path-279')
                use(mask='url(#mask-282)', xlink:href='#path-281')
                use(mask='url(#mask-284)', xlink:href='#path-283')
                use(mask='url(#mask-286)', xlink:href='#path-285')
                use(mask='url(#mask-288)', xlink:href='#path-287')
                use(mask='url(#mask-290)', xlink:href='#path-289')
                use(mask='url(#mask-292)', xlink:href='#path-291')
                use(mask='url(#mask-294)', xlink:href='#path-293')
                use(mask='url(#mask-296)', xlink:href='#path-295')
                use(mask='url(#mask-298)', xlink:href='#path-297')
                use(mask='url(#mask-300)', xlink:href='#path-299')
                use(mask='url(#mask-302)', xlink:href='#path-301')
                use(mask='url(#mask-304)', xlink:href='#path-303')
                use(mask='url(#mask-306)', xlink:href='#path-305')
                use(mask='url(#mask-308)', xlink:href='#path-307')
                use(mask='url(#mask-310)', xlink:href='#path-309')
                use(mask='url(#mask-312)', xlink:href='#path-311')
                use(mask='url(#mask-314)', xlink:href='#path-313')
                use(mask='url(#mask-316)', xlink:href='#path-315')
                use(mask='url(#mask-318)', xlink:href='#path-317')
                use(mask='url(#mask-320)', xlink:href='#path-319')
                use(mask='url(#mask-322)', xlink:href='#path-321')
          g#frame
            path#frame_pieces(fill='#3A3A3A', d='M1613 764l6.516-2.817 15.36 2.788V1125H1613z')
            path#frame_pieces(fill='#4A4747', d='M1619.516 761.183l21.875 3.97V1125h-21.874z')
            path#frame_pieces(fill='#525A5E', d='M1931.346 818.794l11.66.718L1954 830.147V1125h-22.654z')
            path#frame_pieces(fill='#434341', d='M1931.346 818.794l11.654.718V1125h-11.654z')
            path#frame_pieces(fill='#363636', d='M1641.39 769.098l295.353 52.313v17.66L1641.39 789.8z')
            path#frame_pieces(fill='#434A4E', d='M1641.39 769.098l295.353 52.313V835.3l-295.352-51.3z')
            path#frame_pieces(fill='#434B4E', d='M1645.39 1100.353l291.353 3.623v20.183l-291.352-.146z')
        g#left_piece
          g#Fence_piece(transform='translate(104.000000, -524.000000) translate(510.000000, 1284.000000) translate(184.500000, 184.000000) scale(-1, 1) translate(-184.500000, -184.000000) translate(14.000000, 1.000000) translate(44.000000, 20.000000)')
            mask#mask-324(fill='white')
              use(xlink:href='#path-323')
            use#Mask(fill='#D8D8D8', opacity='.01', xlink:href='#path-323')
            //g#fence_string(stroke='#555555', stroke-width='2', mask='url(#mask-324)')
              g(transform='translate(-106.000000, -225.000000)')
                use(mask='url(#mask-326)', xlink:href='#path-325')
                use(mask='url(#mask-328)', xlink:href='#path-327')
                use(mask='url(#mask-330)', xlink:href='#path-329')
                use(mask='url(#mask-332)', xlink:href='#path-331')
                use(mask='url(#mask-334)', xlink:href='#path-333')
                use(mask='url(#mask-336)', xlink:href='#path-335')
                use(mask='url(#mask-338)', xlink:href='#path-337')
                use(mask='url(#mask-340)', xlink:href='#path-339')
                use(mask='url(#mask-342)', xlink:href='#path-341')
                use(mask='url(#mask-344)', xlink:href='#path-343')
                use(mask='url(#mask-346)', xlink:href='#path-345')
                use(mask='url(#mask-348)', xlink:href='#path-347')
                use(mask='url(#mask-350)', xlink:href='#path-349')
                use(mask='url(#mask-352)', xlink:href='#path-351')
                use(mask='url(#mask-354)', xlink:href='#path-353')
                use(mask='url(#mask-356)', xlink:href='#path-355')
                use(mask='url(#mask-358)', xlink:href='#path-357')
                use(mask='url(#mask-360)', xlink:href='#path-359')
                use(mask='url(#mask-362)', xlink:href='#path-361')
                use(mask='url(#mask-364)', xlink:href='#path-363')
                use(mask='url(#mask-366)', xlink:href='#path-365')
                use(mask='url(#mask-368)', xlink:href='#path-367')
                use(mask='url(#mask-370)', xlink:href='#path-369')
                use(mask='url(#mask-372)', xlink:href='#path-371')
                use(mask='url(#mask-374)', xlink:href='#path-373')
                use(mask='url(#mask-376)', xlink:href='#path-375')
                use(mask='url(#mask-378)', xlink:href='#path-377')
                use(mask='url(#mask-380)', xlink:href='#path-379')
                use(mask='url(#mask-382)', xlink:href='#path-381')
                use(mask='url(#mask-384)', xlink:href='#path-383')
                use(mask='url(#mask-386)', xlink:href='#path-385')
                use(mask='url(#mask-388)', xlink:href='#path-387')
                use(mask='url(#mask-390)', xlink:href='#path-389')
                use(mask='url(#mask-392)', xlink:href='#path-391')
                use(mask='url(#mask-394)', xlink:href='#path-393')
                use(mask='url(#mask-396)', xlink:href='#path-395')
                use(mask='url(#mask-398)', xlink:href='#path-397')
                use(mask='url(#mask-400)', xlink:href='#path-399')
                use(mask='url(#mask-402)', xlink:href='#path-401')
                use(mask='url(#mask-404)', xlink:href='#path-403')
                use(mask='url(#mask-406)', xlink:href='#path-405')
                use(mask='url(#mask-408)', xlink:href='#path-407')
                use(mask='url(#mask-410)', xlink:href='#path-409')
                use(mask='url(#mask-412)', xlink:href='#path-411')
                use(mask='url(#mask-414)', xlink:href='#path-413')
                use(mask='url(#mask-416)', xlink:href='#path-415')
                use(mask='url(#mask-418)', xlink:href='#path-417')
                use(mask='url(#mask-420)', xlink:href='#path-419')
          g#frame
            path#frame_pieces(fill='#3A3A3A', d='M969 764l-6.516-2.817-15.36 2.788V1125H969z')
            path#frame_pieces(fill='#4A4747', d='M962.484 761.183l-21.875 3.97V1125h21.874z')
            path#frame_pieces(fill='#303030', d='M650.654 818.794l-11.66.718L628 830.147V1125h22.654z')
            path#frame_pieces(fill='#4B4747', d='M650.654 818.794l-11.654.718V1125h11.654z')
            path#frame_pieces(fill='#363636', d='M940.61 769.098L645.256 821.41v17.66L940.61 789.8z')
            path#frame_pieces(fill='#303030', d='M940.61 769.098L645.256 821.41V835.3l295.352-51.3z')
            path#frame_pieces(fill='#302F2F', d='M936.61 1100.353l-291.353 3.623v20.183l291.352-.146z')
        g#front_piece
          g#Fence_piece(transform='translate(104.000000, -524.000000) translate(510.000000, 1284.000000) translate(299.000000, 0.000000) translate(55.000000, 22.000000)')
            mask#mask-422(fill='white')
              use(xlink:href='#path-421')
            use#Mask(fill='#D8D8D8', opacity='.01', xlink:href='#path-421')
            //g#fence_string(stroke='#333333', stroke-width='2', mask='url(#mask-422)')
              g(transform='translate(-238.000000, -233.000000)')
                use(mask='url(#mask-424)', transform='translate(674.494949, 292.005051) rotate(45.000000) translate(-674.494949, -292.005051)', xlink:href='#path-423')
                use(mask='url(#mask-426)', transform='translate(646.210678, 320.289322) rotate(45.000000) translate(-646.210678, -320.289322)', xlink:href='#path-425')
                use(mask='url(#mask-428)', transform='translate(617.926407, 348.573593) rotate(45.000000) translate(-617.926407, -348.573593)', xlink:href='#path-427')
                use(mask='url(#mask-430)', transform='translate(589.642136, 376.857864) rotate(45.000000) translate(-589.642136, -376.857864)', xlink:href='#path-429')
                use(mask='url(#mask-432)', transform='translate(561.357864, 405.142136) rotate(45.000000) translate(-561.357864, -405.142136)', xlink:href='#path-431')
                use(mask='url(#mask-434)', transform='translate(533.073593, 433.426407) rotate(45.000000) translate(-533.073593, -433.426407)', xlink:href='#path-433')
                use(mask='url(#mask-436)', transform='translate(504.789322, 461.710678) rotate(45.000000) translate(-504.789322, -461.710678)', xlink:href='#path-435')
                use(mask='url(#mask-438)', transform='translate(476.505051, 489.994949) rotate(45.000000) translate(-476.505051, -489.994949)', xlink:href='#path-437')
                use(mask='url(#mask-440)', transform='translate(365.494949, 436.005051) rotate(45.000000) translate(-365.494949, -436.005051)', xlink:href='#path-439')
                use(mask='url(#mask-442)', transform='translate(337.210678, 464.289322) rotate(45.000000) translate(-337.210678, -464.289322)', xlink:href='#path-441')
                use(mask='url(#mask-444)', transform='translate(308.926407, 492.573593) rotate(45.000000) translate(-308.926407, -492.573593)', xlink:href='#path-443')
                use(mask='url(#mask-446)', transform='translate(280.642136, 520.857864) rotate(45.000000) translate(-280.642136, -520.857864)', xlink:href='#path-445')
                use(mask='url(#mask-448)', transform='translate(252.357864, 549.142136) rotate(45.000000) translate(-252.357864, -549.142136)', xlink:href='#path-447')
                use(mask='url(#mask-450)', transform='translate(224.073593, 577.426407) rotate(45.000000) translate(-224.073593, -577.426407)', xlink:href='#path-449')
                use(mask='url(#mask-452)', transform='translate(195.789322, 605.710678) rotate(45.000000) translate(-195.789322, -605.710678)', xlink:href='#path-451')
                use(mask='url(#mask-454)', transform='translate(167.505051, 633.994949) rotate(45.000000) translate(-167.505051, -633.994949)', xlink:href='#path-453')
                use(mask='url(#mask-456)', transform='translate(994.494949, 161.005051) rotate(45.000000) translate(-994.494949, -161.005051)', xlink:href='#path-455')
                use(mask='url(#mask-458)', transform='translate(966.210678, 189.289322) rotate(45.000000) translate(-966.210678, -189.289322)', xlink:href='#path-457')
                use(mask='url(#mask-460)', transform='translate(937.926407, 217.573593) rotate(45.000000) translate(-937.926407, -217.573593)', xlink:href='#path-459')
                use(mask='url(#mask-462)', transform='translate(909.642136, 245.857864) rotate(45.000000) translate(-909.642136, -245.857864)', xlink:href='#path-461')
                use(mask='url(#mask-464)', transform='translate(881.357864, 274.142136) rotate(45.000000) translate(-881.357864, -274.142136)', xlink:href='#path-463')
                use(mask='url(#mask-466)', transform='translate(853.073593, 302.426407) rotate(45.000000) translate(-853.073593, -302.426407)', xlink:href='#path-465')
                use(mask='url(#mask-468)', transform='translate(824.789322, 330.710678) rotate(45.000000) translate(-824.789322, -330.710678)', xlink:href='#path-467')
                use(mask='url(#mask-470)', transform='translate(796.505051, 358.994949) rotate(45.000000) translate(-796.505051, -358.994949)', xlink:href='#path-469')
                use(mask='url(#mask-472)', transform='translate(481.505051, 292.005051) scale(-1, 1) rotate(45.000000) translate(-481.505051, -292.005051)', xlink:href='#path-471')
                use(mask='url(#mask-474)', transform='translate(509.789322, 320.289322) scale(-1, 1) rotate(45.000000) translate(-509.789322, -320.289322)', xlink:href='#path-473')
                use(mask='url(#mask-476)', transform='translate(538.073593, 348.573593) scale(-1, 1) rotate(45.000000) translate(-538.073593, -348.573593)', xlink:href='#path-475')
                use(mask='url(#mask-478)', transform='translate(566.357864, 376.857864) scale(-1, 1) rotate(45.000000) translate(-566.357864, -376.857864)', xlink:href='#path-477')
                use(mask='url(#mask-480)', transform='translate(594.642136, 405.142136) scale(-1, 1) rotate(45.000000) translate(-594.642136, -405.142136)', xlink:href='#path-479')
                use(mask='url(#mask-482)', transform='translate(622.926407, 433.426407) scale(-1, 1) rotate(45.000000) translate(-622.926407, -433.426407)', xlink:href='#path-481')
                use(mask='url(#mask-484)', transform='translate(651.210678, 461.710678) scale(-1, 1) rotate(45.000000) translate(-651.210678, -461.710678)', xlink:href='#path-483')
                use(mask='url(#mask-486)', transform='translate(679.494949, 489.994949) scale(-1, 1) rotate(45.000000) translate(-679.494949, -489.994949)', xlink:href='#path-485')
                use(mask='url(#mask-488)', transform='translate(790.505051, 436.005051) scale(-1, 1) rotate(45.000000) translate(-790.505051, -436.005051)', xlink:href='#path-487')
                use(mask='url(#mask-490)', transform='translate(818.789322, 464.289322) scale(-1, 1) rotate(45.000000) translate(-818.789322, -464.289322)', xlink:href='#path-489')
                use(mask='url(#mask-492)', transform='translate(847.073593, 492.573593) scale(-1, 1) rotate(45.000000) translate(-847.073593, -492.573593)', xlink:href='#path-491')
                use(mask='url(#mask-494)', transform='translate(875.357864, 520.857864) scale(-1, 1) rotate(45.000000) translate(-875.357864, -520.857864)', xlink:href='#path-493')
                use(mask='url(#mask-496)', transform='translate(903.642136, 549.142136) scale(-1, 1) rotate(45.000000) translate(-903.642136, -549.142136)', xlink:href='#path-495')
                use(mask='url(#mask-498)', transform='translate(931.926407, 577.426407) scale(-1, 1) rotate(45.000000) translate(-931.926407, -577.426407)', xlink:href='#path-497')
                use(mask='url(#mask-500)', transform='translate(960.210678, 605.710678) scale(-1, 1) rotate(45.000000) translate(-960.210678, -605.710678)', xlink:href='#path-499')
                use(mask='url(#mask-502)', transform='translate(988.494949, 633.994949) scale(-1, 1) rotate(45.000000) translate(-988.494949, -633.994949)', xlink:href='#path-501')
                use(mask='url(#mask-504)', transform='translate(161.505051, 161.005051) scale(-1, 1) rotate(45.000000) translate(-161.505051, -161.005051)', xlink:href='#path-503')
                use(mask='url(#mask-506)', transform='translate(189.789322, 189.289322) scale(-1, 1) rotate(45.000000) translate(-189.789322, -189.289322)', xlink:href='#path-505')
                use(mask='url(#mask-508)', transform='translate(218.073593, 217.573593) scale(-1, 1) rotate(45.000000) translate(-218.073593, -217.573593)', xlink:href='#path-507')
                use(mask='url(#mask-510)', transform='translate(246.357864, 245.857864) scale(-1, 1) rotate(45.000000) translate(-246.357864, -245.857864)', xlink:href='#path-509')
                use(mask='url(#mask-512)', transform='translate(274.642136, 274.142136) scale(-1, 1) rotate(45.000000) translate(-274.642136, -274.142136)', xlink:href='#path-511')
                use(mask='url(#mask-514)', transform='translate(302.926407, 302.426407) scale(-1, 1) rotate(45.000000) translate(-302.926407, -302.426407)', xlink:href='#path-513')
                use(mask='url(#mask-516)', transform='translate(331.210678, 330.710678) scale(-1, 1) rotate(45.000000) translate(-331.210678, -330.710678)', xlink:href='#path-515')
                use(mask='url(#mask-518)', transform='translate(359.494949, 358.994949) scale(-1, 1) rotate(45.000000) translate(-359.494949, -358.994949)', xlink:href='#path-517')
          g#frame
            path#frame_pieces(fill='#363636', d='M974 764h626v21H974z')
            path#frame_pieces(fill='#202020', d='M974 780h626v4H974z')
            path#frame_pieces(fill='#3F3F3F', d='M969 1100h638v24H969z')
            path#frame_pieces(fill='#3A3A3A', d='M913 764l14-4h33v365h-47z')
            path#frame_pieces(fill='#4A4747', d='M927 760h47v365h-47z')
            path#frame_pieces(fill='#525A5E', d='M1597 760h44l24 8v357h-68z')
            path#frame_pieces(fill='#434341', d='M1597 760h44v365h-44z')
        g#base
          path#middle_piece(fill='url(#linearGradient-519)', d='M284 0h796v240H284z', transform='translate(104.000000, -524.000000) translate(510.000000, 1284.000000) translate(0.000000, 363.000000)')
          path#middle_highlight(fill='#5D5A5A', d='M898 1123h795v3H898z')
          path#middle_shadow(fill='#393838', d='M1689 1123h5v240h-5z')
          path#right_piece(fill='url(#linearGradient-520)', d='M1080.88 6.993c.067-3.862 3.263-6.993 7.126-6.993H1363v240l-285-63 2.88-170.007z', transform='translate(104.000000, -524.000000) translate(510.000000, 1284.000000) translate(0.000000, 363.000000) translate(1220.500000, 120.000000) scale(-1, 1) translate(-1220.500000, -120.000000)')
          path#right_highlight(fill='#838E94', d='M1974.12 1130.008c-.067-3.87-3.263-7.008-7.126-7.008H1692v234l2.03-231.007 270.977-.968c3.862-.014 7.965 2.947 9.138 6.533l-.026-1.55z')
          path#left_piece(fill='url(#linearGradient-521)', d='M2.88 6.993C2.948 3.13 6.144 0 10.007 0H285v240L0 177 2.88 6.993z', transform='translate(104.000000, -524.000000) translate(510.000000, 1284.000000) translate(0.000000, 363.000000)')
          path#left_highlight(fill='#5D5B5B', d='M628.496 1123.017c-.826-.01-.832-.017 0-.017H899v3l-270.504-2.983z')
          path#left_shadow(fill='#3A3838', d='M897.2 1123.992c0-.548.454-.992 1.005-.992H899v240h-2l.2-239.008z')
          path#bottom_shadow(fill='#373636', d='M898 1357h796l282.915-57.997.085.997-283 63H897l-283-63 .065-.855z')
    g#logoGroup
      path#verdict_logo_shadow.hidden(data-logo="shadow" fill='#3A3A3A', d='M1478 1155.422c-21.013 6.515-21.348 5.47-57.314 15.632 0 0-42.325 12.52-42.325 56.41 0 43.884 25.332 57.354 46.386 62.272v-17.163s-29.478-4.092-29.478-45.193c0-35.492 40.756-42.806 40.756-42.806l.18 107.997 16.627 4.43-.057-117.17 25.227-6.936v-17.472zm-292.754 15.475l-23.988 82.642-19.77-93.017L1121 1155l34.298 139.366 10.97-3.096 35.782-116.882-16.804-3.49zm82.366 11.438c-8.27-2.63-52.074-6.188-52.074-6.188l-34.32 112.032s25.783-5.686 68.994-7.908c-.38-6.945-.452-11.006-1.55-16.592-5.568.493-43.877 3.778-43.877 3.778l6.62-21.148 14.574-.457 4.856-16.468-14.968.315 11.576-35.6s28.465 2.54 31.68 3.41c6.638 1.664 9.062 6.73 9.062 15.16-.637 8.392-5.322 13.337-16.052 15.49-4.84 1.086-8.818 1.127-8.818 1.127l-4.576 16.144s9.288-.39 15.98 5.668c6.295 6.134 7.877 9.486 8.714 28.515 8.076-.19 10.74-.44 17.46-.54-1.258-28.47-14.363-39.044-14.363-39.044s16.872-8.787 17.917-26.74c.18-8.66-3.025-27.105-16.83-30.955h-.005zm18.856-1.768c3.816 4.877 6.66 11.86 8.112 18.262 5.67-.01 34.687-1.29 35.198 29.223 0 38.45-30.115 33.998-39.385 34.06 1.718 6.56 1.863 12.59 2.18 16.863 8.523.018 53.963 6.955 53.963-51.197 0-48.712-49.062-47.24-60.063-47.213h-.005zm67.905 100.195l15.704 1.12v-104.326l-15.704 1.225v101.982z')
      path#verdict_logo.hidden(data-logo="vanilla" fill='#C53F35', d='M1475 1152.422c-21.013 6.515-21.348 5.47-57.314 15.632 0 0-42.325 12.52-42.325 56.41 0 43.884 25.332 57.354 46.386 62.272v-17.163s-29.478-4.092-29.478-45.193c0-35.492 40.756-42.806 40.756-42.806l.18 107.997 16.627 4.43-.057-117.17 25.227-6.936v-17.472zm-292.754 15.475l-23.988 82.642-19.77-93.017L1118 1152l34.298 139.366 10.97-3.096 35.782-116.882-16.804-3.49zm82.366 11.438c-8.27-2.63-52.074-6.188-52.074-6.188l-34.32 112.032s25.783-5.686 68.994-7.908c-.38-6.945-.452-11.006-1.55-16.592-5.568.493-43.877 3.778-43.877 3.778l6.62-21.148 14.574-.457 4.856-16.468-14.968.315 11.576-35.6s28.465 2.54 31.68 3.41c6.638 1.664 9.062 6.73 9.062 15.16-.637 8.392-5.322 13.337-16.052 15.49-4.84 1.086-8.818 1.127-8.818 1.127l-4.576 16.144s9.288-.39 15.98 5.668c6.295 6.134 7.877 9.486 8.714 28.515 8.076-.19 10.74-.44 17.46-.54-1.258-28.47-14.363-39.044-14.363-39.044s16.872-8.787 17.917-26.74c.18-8.66-3.025-27.105-16.83-30.955h-.005zm18.856-1.768c3.816 4.877 6.66 11.86 8.112 18.262 5.67-.01 34.687-1.29 35.198 29.223 0 38.45-30.115 33.998-39.385 34.06 1.718 6.56 1.863 12.59 2.18 16.863 8.523.018 53.963 6.955 53.963-51.197 0-48.712-49.062-47.24-60.063-47.213h-.005zm67.905 100.195l15.704 1.12v-104.326l-15.704 1.225v101.982z')
      path#verdict_logo_grad.hidden(data-logo="gradient" fill='url(#linearGradient-522)', d='M357 .422c-21.013 6.515-21.348 5.47-57.314 15.632 0 0-42.325 12.52-42.325 56.41 0 43.884 25.332 57.354 46.386 62.272v-17.163s-29.478-4.092-29.478-45.193c0-35.492 40.756-42.806 40.756-42.806l.18 107.997 16.627 4.43-.057-117.17L357 17.895V.422zM64.246 15.897L40.258 98.54 20.488 5.522 0 0l34.298 139.366 10.97-3.096L81.05 19.388l-16.804-3.49zm82.366 11.438c-8.27-2.63-52.074-6.188-52.074-6.188L60.218 133.18S86 127.493 129.21 125.27c-.38-6.945-.452-11.006-1.55-16.592-5.568.493-43.877 3.778-43.877 3.778l6.62-21.148 14.574-.457 4.856-16.468-14.968.315 11.576-35.6s28.465 2.54 31.68 3.41c6.638 1.664 9.062 6.73 9.062 15.16-.637 8.392-5.322 13.337-16.052 15.49-4.84 1.086-8.818 1.127-8.818 1.127L117.74 90.43s9.288-.39 15.98 5.668c6.295 6.134 7.877 9.486 8.714 28.515 8.076-.19 10.74-.44 17.46-.54-1.258-28.47-14.363-39.044-14.363-39.044s16.872-8.787 17.917-26.74c.18-8.66-3.025-27.105-16.83-30.955h-.005zm18.856-1.768c3.816 4.877 6.66 11.86 8.112 18.262 5.67-.01 34.687-1.29 35.198 29.223 0 38.45-30.115 33.998-39.385 34.06 1.718 6.56 1.863 12.59 2.18 16.863 8.523.018 53.963 6.955 53.963-51.197 0-48.712-49.062-47.24-60.063-47.213h-.005zm67.905 100.195l15.704 1.12V22.557l-15.704 1.225v101.982z', transform='translate(1118.000000, 1152.000000)')