
body,
#header,
#verdict-module {
  width: 100%;
  overflow: hidden;
}

#joint, #forceBox {
  opacity: 0;
}

#controls {
  position: absolute;
  top: 0;
  height: 300px;
  width: 300px;
  background-color: hsla(0,0,0,0.1);
}